.news_container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    border: 1px solid white
}

.new_body{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
}

.view_comments:hover{
    text-decoration: underline;
    cursor: pointer;
}

.comment_container{
    border: 1px dashed white;
    display: flex;
    flex-direction: column;
}